@media (max-width: 768px) {
    .photo-grid {
        grid-template-columns: 1fr;
    }
    section {
        height: auto;
    }
    .three-column-section {
        flex-direction: column;
        gap: 10px;
    }
    .column {
        width: 100%;
    }
    .center-text, header, footer {
        padding: 10px;
    }
    .p-hobbies, .h2-home, .h2-main {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    h1, .h2-home, .h2-main {
        font-size: 24px;
    }
    section {
        height: auto;
    }
    .arrow-button {
        font-size: 36px;
    }
    header {
        flex-direction: column;
        text-align: center;
    }
    .nav-tabs {
        flex-direction: column;
        gap: 10px;
    }
    .photo-grid {
        gap: 5px;
        padding: 10px;
    }
    footer {
        padding: 10px;
    }
}

.social-media-icons {
    display: flex;
    justify-content: left;
    gap: 15px;
    margin-top: 20px;
}

.icon {
    text-decoration: none;
    font-size: 32px;
    color: #8f6756;
    transition: color 0.3s ease, transform 0.3s ease;
}

.icon:hover {
    color: #f4ecde;
    transform: scale(1.2);
}

.facebook {
    color: #3b5998;
}

.facebook:hover {
    color: #2d4373;
}

.instagram {
    color: #e1306c;
}

.instagram:hover {
    color: #c32f5c;
}

.github {
    color: #333;
}

.github:hover {
    color: #444;
}

@media (max-width: 768px) {
    .split-section {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .photo-section,
    .content-section {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .split-section {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .photo-section,
    .content-section {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        padding: 10px;
    }
}

@media (max-width: 1080px) {
    .split-section {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .photo-section,
    .content-section {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .photo-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        padding: 10px;
    }
}

@media (max-width: 1080px) {
    .contact-container {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 10px;
    }
    .email-info, .social-media-icons {
        text-align: center;
        align-items: center;
    }
    .icon {
        font-size: 90px;
    }
    .contact-form form {
        width: 90%;
        padding: 20px 10px;
        margin: 0 auto;
        font-size: 200%;
    }
    .contact-form input,
    .contact-form textarea {
        padding: 15px 10px;
        font-size: 40px;
    }
    .contact-form textarea {
        line-height: 1.6;
    }
    .contact-form button {
        margin-top: 15px;
        padding: 14px;
        font-size: 50px;
    }
    .p-button {
        font-size: 32px;
    }
    .button-gif {
        width: 150px;
    }
    .email-info {
        padding-bottom: 10px;
    }
    .popup-content {
        width: 75%;
        text-size-adjust: 250%;
    }
    .popup-gif {
        width: 100%;
    }
    .popup-button {
        width: 100px;
    }
    header {
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }
    #section1 {
        padding-top: 350px;
    }
    #section2 {
        padding-top: 350px;
    }
    .header-title {
        font-size: 50px;
        margin-bottom: 10px;
    }
    .nav-tabs {
        flex-direction: column;
        gap: 0px;
    }
    .nav-tabs a {
        padding: 5px;
        font-size: 32px;
    }
    .p-home {
        font-size: 32px;
    }
    .p-foot {
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    .contact-container {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 10px;
    }
    .email-info, .social-media-icons {
        text-align: center;
        align-items: center;
    }
    .icon {
        font-size: 90px;
    }
    .contact-form form {
        width: 90%;
        padding: 20px 10px;
        margin: 0 auto;
        font-size: 200%;
    }
    .contact-form input,
    .contact-form textarea {
        padding: 15px 10px;
        font-size: 40px;
    }
    .contact-form textarea {
        line-height: 1.6;
    }
    .contact-form button {
        margin-top: 15px;
        padding: 14px;
        font-size: 50px;
    }
    .p-button {
        font-size: 32px;
    }
    .button-gif {
        width: 150px;
    }
    .email-info {
        padding-bottom: 10px;
    }
    .popup-content {
        width: 75%;
        text-size-adjust: 250%;
    }
    .popup-gif {
        width: 100%;
    }
    .popup-button {
        width: 100px;
    }
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 10px;
    }
    .email-info, .social-media-icons {
        text-align: center;
        align-items: center;
    }
    .icon {
        font-size: 90px;
    }
    .contact-form form {
        width: 90%;
        padding: 20px 10px;
        margin: 0 auto;
        font-size: 200%;
    }
    .contact-form input,
    .contact-form textarea {
        padding: 15px 10px;
        font-size: 40px;
    }
    .contact-form textarea {
        line-height: 1.6;
    }
    .contact-form button {
        margin-top: 15px;
        padding: 14px;
        font-size: 50px;
    }
    .p-button {
        font-size: 32px;
    }
    .button-gif {
        width: 150px;
    }
    .email-info {
        padding-bottom: 10px;
    }
    .popup-content {
        width: 75%;
        text-size-adjust: 250%;
    }
    .popup-gif {
        width: 100%;
    }
    .popup-button {
        width: 100px;
    }
}
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .three-column-section {
        flex-direction: column;
        gap: 10px;
    }

    .column {
        max-width: 100%;
    }
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-family: 'Over the Rainbow', cursive;
    color: #8f6756;
    font-size: 48px;
    margin-bottom: 5px;
}

.h2-main {
    font-weight: 200;
    margin-top: 5px;
}

.h2-home {
    font-family: 'Over the Rainbow', cursive;
    color: #8f6756;
    font-size: 48px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.p-hobbies {
    font-family: 'Over the Rainbow', cursive;
    color: #8f6756;
    font-size: 32px;
    margin-bottom: 5px;
}

.arrow-button {
    background: none;
    border: none;
    font-size: 48px;
    cursor: pointer;
    color: #8f6756;
    padding: 0;
}

.arrow-button:hover {
    color: #f4ecde;
}

p {
    margin-top: 5px;
}

header {
    display: flex;
    background-color: #ffff;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.header-title {
    font-family: 'Over the Rainbow', cursive;
    font-size: 24px;
    color: #8f6756;
}

.nav-tabs {
    display: flex;
    gap: 20px;
}

.nav-tabs a {
    text-decoration: none;
    color: #8f6756;
    padding: 10px 15px;
    box-sizing: border-box;
}

.nav-tabs a:hover {
    font-weight: bold;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: start;
    flex-direction: column;
    padding-top: 60px;
}

.split-section {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
}

.p-home {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.photo-section {
    flex: 1;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    gap: 5px;
    padding: 30px;
}

.grid-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
    backface-visibility: hidden;
}

.grid-photo.flip {
    transform: rotateY(180deg);
}

.grid-photo.new {
    transform: rotateY(0deg);
    opacity: 1;
}

.content-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-button {
    cursor: pointer;
    width: 50px;
    height: auto;
}

.popup-button:hover {
    transform: scale(1.3);
    transition: transform 0.3s ease;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #333;
}

.close-btn:hover {
    color: red;
}

.popup-gif {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.three-column-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
}

.column {
    flex: 1;
    text-align: center;
    background-color: #fefaf3;
    padding: 15px;
    border-radius: 10px;
}

.column-photo {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.see-more {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #8f6756;
    font-size: 0.8em;
}

.see-more:hover {
    font-weight: bold;
}

.popup-sec2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
}

#section3 {
    display: flex;
    justify-content: center;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 80%;
    margin: 0 auto;
}

.contact-form {
    flex: 1;
    min-width: 300px;
}

.email-info {
    flex: 1;
    text-align: left;
    padding: 20px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    border: 1px solid #8f6756;
    border-radius: 10px;
    padding: 20px;
    background-color: #fefaf3;
}

label {
    margin-top: 10px;
    text-align: left;
}

input, textarea {
    margin-top: 5px;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 3px;
    background-color: #f4ecde;
}

.gif-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.button-gif {
    width: 50px;
    height: auto;
}

.p-button {
    color: #8f6756;
    margin-top: 0px;
    font-size: 14px;
}

.p-button:hover {
    font-weight: bold;
}

.link-contact {
    color: #8f6756;
    margin-top: 0px;
    font-size: 18px;
    text-decoration: none;
}

.link-contact:hover {
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

footer {
    text-align: center;
    padding: 20px;
}

.line {
    height: 0.5px;
    background-color: #8f6756;
    margin-bottom: 20px;
}

.p-foot {
    font-size: 0.8em;
}

@media (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    section {
        height: auto;
    }

    header {
        padding: 10px;
    }

    h1 {
        font-size: 36px;
    }

    .h2-home, .h2-main {
        font-size: 50px;
    }
}
